main{
    width: 80%;
    margin: 0 auto;
    /* background-color: rgba(0,0,0,0.1); */
    max-width: 900px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

*, before, after{
    font-family: 'Inter', sans-serif;
}